#HealthBarRoot{

   height: 100%;
   width: 100%;

}

.HealthBarPanel
{
  margin-top: -8px;
}

.HealthBarPanel.no_health_bar
{
  opacity: 0;
}

.Hidden
{
  opacity: 0;
}

.HealthBarPanel.hover
{
  z-index: 10;
}

#HealthBarContainer
{
  flow-children: down;
}


#HealthBarStatusBar
{
  horizontal-align: center;
  flow-children: right;
}

#Threat
{
  margin-top: 30px;
}
#ThreatImage
{
  width: 16px;
  height: 16px;

  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#ThreatImage.Threat_Green
{
  background-image: url("file://{images}/custom_game/perk_radar/green.png");
}
#ThreatImage.Threat_Yellow
{
  background-image: url("file://{images}/custom_game/perk_radar/yellow.png");
}
#ThreatImage.Threat_Red
{
  background-image: url("file://{images}/custom_game/perk_radar/red.png");
}

#Bar
{
  vertical-align: top;
  width: 90px;
  flow-children: down;
  margin-top: 20px;
}

#Bar.Highlighted
{
  width: 120px;
}


#UnitName
{
  vertical-align: center;
  horizontal-align: center;

  width: 100%;
  height: 20px;

  text-align: center;
  text-overflow: shrink;

  z-index: 50;
  font-size: 30px;

  color: #ffffff;
}

.PlayerName
{
   font-weight: bold;
}



#HealthBar
{
  width: 100%;
  height: 7px;
}

#HealthBar.Highlighted
{
  height: 11px;
}


#HealthProgress
{
  width: 100%;
  height: 100%;
  border-radius: 0px;
  border-width: 1px;
  border-top-width: 0px;
}


#HealthBar .ProgressBarLeft
{
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #3A6C28 ), color-stop( 0.2, #42792F ), color-stop( .5, #51923B),  to( #3A6C28 ) );
}


#HealthBar .ProgressBarLeft.Highlighted
{
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #A9EE60 ), to( #A9EE60 ) );
}

#HealthBar .ProgressBarLeft.EnemyTeam
{
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #5F3225 ), color-stop( 0.2, #713E2D ), color-stop( .5, #834836), to( #5F3225 ) );
}

 #HealthBar .ProgressBarLeft.EnemyTeam.Highlighted
{
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #da3700FF ), to( #921a00FF ) );
}

#ManaBar
{
  width: 100%;
  height: 6px;
}
#ManaProgress
{
  width: 100%;
  height: 100%;
  border-radius: 0px;
  border-width: 1px;
  border-top-width: 0px;
}
#ManaProgress_Left
{
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #2b4287 ), color-stop( 0.2, #4165ce ), color-stop( .5, #4a73ea), to( #2b4287 ) );
}

#LevelInfo
{
  horizontal-align: right;
  margin-top: 32px;

  width: 24px;
  height: 24px;
}

#LevelInfo.Highlighted
{
  margin-top: 38px;
}


#LevelBackground
{
  horizontal-align: center;
  vertical-align: bottom;
  width: 100%;
  height: 100%;

  border-radius: 50%;
  background-color: #121212;
}
#LevelLabel
{
  horizontal-align: center;
  vertical-align: bottom;
  margin-top: 1px;
  padding: 1px;

  width: 100%;
  height: 100%;

  color: #E7D291;
  text-shadow: 0px 0px 2.25px 2.7 #EC780E24;
  text-align: center;
  text-overflow: shrink;

  z-index: 50;
}

#CircularXPProgress,
#CircularXPProgressBlur
{
  horizontal-align: center;
  vertical-align: bottom;
  width: 100%;
  height: 100%;
}
#CircularXPProgressBlur_FG,
#CircularXPProgress_FG
{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1.5px solid #E7D291;
  z-index: 50;
  transition-property: clip;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}
#CircularXPProgressBlur_BG,
#CircularXPProgress_BG
{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #393939;
  z-index: 40;
  background-color: #000000FF;
}