.Notification
{
    width: 100%;
    height: 100%;
}
.RuneNotification
{
    width: 100%;
    height: 100%;
    flow-children: down;
}

#AlertMessage
{
    flow-children: right;
    horizontal-align: center;
    margin-top: 64px;
    transition-property: transform, opacity;
    transition-duration: 0.3s;
    border: 0px solid blue;
    transform: scaleX(1) scaleY(1);
    visibility: visible;
}

#CourierMessage
{
    flow-children: right;
    horizontal-align: center;
    margin-top: 20px;
    transition-property: transform, opacity;
    transition-duration: 0.3s;
    border: 0px solid blue;
    transform: scaleX(1) scaleY(1);
    visibility: visible;
}

#RingMessage
{
    flow-children: right;
    horizontal-align: center;
    margin-top: 20px;
    transition-property: transform, opacity;
    transition-duration: 0.3s;
    border: 0px solid blue;
    transform: scaleX(1) scaleY(1);
    visibility: visible;
}




#AlertMessage_Icon
{
    width: 48px;
    height: 48px;
}

#CourierMessage_Icon
{
    width: 88px;
    height: 64px;
}

#RingMessage_Icon
{
    width: 64px;
    height: 64px;
}



#AlertMessage_Label
{
    color: white;
    horizontal-align: center;
    text-shadow: 4px 4px 4px #121212;
    font-size: 48px;
    font-weight: bold;
}


#CourierMessage_Label
{
    color: white;
    text-shadow: 4px 4px 4px #121212;
    font-size: 64px;
    font-weight: bold;
}



#RingMessage_Label
{
    color: white;
    horizontal-align: center;
    text-shadow: 4px 4px 4px #121212;
    font-size: 64px;
    margin-left: 50px;
    font-weight: bold;
}




#PickupMessage
{
    flow-children: down;

    horizontal-align: center;
    margin-top: 20px;
    transition-property: transform, opacity;
    transition-duration: 0.3s;
    border: 0px solid green;

    transform: scaleX(1) scaleY(1);
    visibility: visible;
}

#PickupImages
{
    flow-children: right;
    horizontal-align: center;
    border: 2px solid #5e686966;
    background-color: #292e2e;
    margin: 0px;

}

#PickupMessage_Rune
{
  height: 60px;
  width: 60px;
  margin-top: 12px;
  margin: 4px;
}

#PickupMessage_Chest
{
    height: 32px;
    width: 56px;
    margin: 4px;
}

#PickupMessage_Hero
{
  height: 32px;
  width: 56px;
  margin: 4px;
}

#PickupMessage_Unit{
   
  height: 72px;
  width: 128px;

}

#PickupMessage_Unit_Text
{
    color: red;
    font-size: 36px;
    font-weight: bold;
    margin: 4px;
    horizontal-align: center;
    text-shadow: 4px 4px 4px #121212;
}


#PickupMessage_Rune_Text
{
    color: white;
    font-size: 36px;
    font-weight: bold;
    margin: 4px;
    horizontal-align: center;
    text-shadow: 4px 4px 4px #121212;
}


.Hidden{
    opacity:0.0;
}
