.PerkRadarPanelHud{
    width: 100%;
    height: 100%;
}

.PerkRadarPanel {
    position: 30px 30px 0; 
    width: 160px;
    height: 160px;
    border-top: 0px solid #333;
    border-bottom: 0px solid #333;
    background-image: url("file://{images}/custom_game/perk_radar/radar_background.png");
    background-size: 100% 100%;
    opacity: 0.6;
}


.PerkRadarContainer {
    position: 1430px 830px 0; 
    width: 220px;
    height: 230px;
    border-top: 0px solid #333;
    border-bottom: 0px solid #333;
}

.ProgressBarLeft {

   height: 100%;
   width: 95%;
   background-color:gradient( linear, 0% 0%, 0% 100%, from( #BBCAEA ), color-stop( 0.5, #ffffff), color-stop( 0.5, #D9DFEC), to( #BBCAEA ) );
   box-shadow:#61789Caa -2px -2px 4px 4px;

   border-radius:2px;
   transition-property:width;
   transition-duration:1.0s;
   transition-timing-function:linear;

}

.ProgressBarRight {

   height: 100%;
   width: 50%;

}
.LevelProgress {

    horizontal-align:center;
    box-shadow:inset #1f2020 2px 2px 4px 4px;
    background-color:#464748;
    border:1px solid #3d4746;
    height:25px;
    padding:2px;
    width:100%;


}

.LevelProgressTest{

    horizontal-align:center;
    vertical-align:center;
    font-weight:bold;
    font-size:14px;
    color:black;
    text-shadow:0px 0px 8px 1.0 #C1CEEA88;
    margin-top:2px;
}

.RadarLabel{
   
  color:#FFFFFF;
  font-size:14px;
  text-transform:uppercase;
  max-height:60px;
  max-width:90px;
  text-overflow:shrink;
  text-shadow:1px 2px 4px 4 #000a;
}