Label{
    color:#939da0;
    font-family:Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
    text-shadow: 1px 1px 1px 1.0 #000000ff;
}

@keyframes 'links-and-more-button-focus'
{
    from
    {
        background-color: gradient( linear, 0% 0%, 0% 100%, from( #a9c8daee ), to( #000000ee ) ); 
    }

    50%
    {
        background-color: gradient( linear, 0% 0%, 0% 100%, from( #272d2eee ), to( #131617ee ) ); 
    }

    to
    {
        background-color: gradient( linear, 0% 0%, 0% 100%, from( #272d2eee ), to( #131617ee ) ); 
    }
}

.Shop {
    width: 1200px;
    height: 900px;
    vertical-align: center;
    horizontal-align: center;

    animation-name: links-and-more-button-focus;
    animation-duration: 0.6s;
    animation-delay: 0.0s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;

    /*transition-property: transform, pre-transform-scale2d, opacity, background-color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
    transition-delay: 0.0s;*/

    box-shadow: #172a2f -4px -4px 8px 8px;
    background-color:gradient( linear, 0% 0%, 0% 100%, from( #272d2e ), to( #121212 ) );

    padding: 20px;

    transition-property: transform, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    flow-children: down;
}

.Shop.Hidden{
    transform: translatex(-1000px);
    opacity:0.0;
}

.ShopMain {
    flow-children: down;
    width:100%;
    height: 100%;
}

.ShopLayer {
    flow-children: right;
    width:100%;
    height: 25%;
}

.ShopTile {
    width:20%;
    height: 100%;
}

.ShopTileMiddle {
    width:60%;
    height: 100%;
}